@import '../../../styles/helper';

aside {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  @include flex(flex-start, center, column);
  position: absolute;
  top: 0;
  left: 0;

  figure {
    width: fit-content;

    img {
      width: 100px;
      height: auto;
    }
  }

  ul {
    width: 100%;

    li {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 -960 960 960' width='48'%3E%3Cpath d='M343-420h225v-60H343v60Zm0-90h395v-60H343v60Zm0-90h395v-60H343v60Zm-83 400q-24 0-42-18t-18-42v-560q0-24 18-42t42-18h560q24 0 42 18t18 42v560q0 24-18 42t-42 18H260Zm0-60h560v-560H260v560ZM140-80q-24 0-42-18t-18-42v-620h60v620h620v60H140Zm120-740v560-560Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: 20px center;
      font-size: 1.1rem;
      line-height: 1.1rem;
      font-family: 600;
      color: #3b3b3b;
      width: 100%;
      padding: 1rem;
      text-align: center;
      background-color: #F2F5FA;
      border-right: 2px solid red;
    }
  }
}