@import '../../styles/helper';

main {
  margin-left: 250px;
  padding: 2rem 1.4rem;
  background-color: #F2F5FA;
  height: calc(100vh - 34px);

  h1 {
    margin-bottom: 2rem;
  }

  .row {
    @include flex(space-between, center, row);
    margin-bottom: 2rem;

    input {
      background-color: #FFF;
      max-width: 400px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 95% center;
    }

    button {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px' fill-rule='evenodd'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 14px;
      background-position: 10px center;
      padding-left: 2rem;
    }

  }

  table {
    width: 100%;
    background-color: #FFF;

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid #3b3b3b;
      text-align: left;

      &:last-of-type {
        text-align: right;

        button {
          margin-right: 5px;
        }
      }
    }
  }
}