/* H E A D E R S */
h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 600;
  color: #3b3b3b;

  @include respond-to(md) {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
}

h2 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
  color: #1738a7;
}


/* B O D Y */
.body--description,
.body--labels {
  font-family: 'Ovo', serif;
  font-weight: 400;
}

.body--description {
  font-size: 1rem;
  line-height: 1rem;
  color: #5c5c5c;
}

.body--labels {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #1738a7;
}


/* B U T T O N S */
.btn {
  font-family: 'Ovo', serif;
  font-weight: 400;
}

.btn--main,
.btn--secondary,
.btn--danger {
  font-size: 1rem;
  line-height: 1rem;
}

.btn--main,
.btn--danger {
  color: #FFF;
}

.btn--secondary {
  color: #3b3b3b;
}


/* A N C H O R S */
a {
  color: #1738a7;

  &:hover {
    text-decoration: underline;
  }
}